body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #4f4f4f;
}

a {
  text-decoration: none;
  display: block;
  color: #4f4f4f;
}

a:visited {
  display: block;
  color: #4f4f4f;
}

table {
  border-collapse: collapse;
}

tbody > tr:hover {
  background-color: #33CCFF;
}